*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav
{ 
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 6%;
    height: 90%;
    background-color: white;
    transition: 0.5s;
    opacity: 0.7;
    overflow: hidden;
    border-radius: 2px;
}

nav:hover{
    width: 12%;
}

nav ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul li{
    position: relative;
    width: 100%;
    list-style: none;
    background: none;
    height: 100%;
    transition: 0.5s;
}

nav ul li:hover{
    background-color: black;
}
nav ul li a 
{
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #e72669;
}

nav ul li a .icon{
    position: relative;
    text-align: center;
    padding: 14px 16px;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #e72669;

}

nav ul li a .icon .fa{
    font-size: 24px;
}

nav ul li a .title{
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
    font-size: 10px;

}

.list{
    padding-top: 20px;
    padding-bottom: 25px;
}

.logo{
    height: 12vh;
    width: 12vw;
    position: absolute;
    margin: 10px 10px;
    border-radius: 20%;
    right: 0px;
    display: flex;
    justify-content: end;
    
    
}

@keyframes spin{
    from { tranform: rotate(0deg);}
    to { transform: rotate(360deg);}
}
.logo img:hover{
    animation: spin 2s infinite;

}
body{
    background-image: url('images/light background.jpg');
}
